.logo {
  float: left;
}

.nav {
  display: inline;
  float: left;
  width: 82%;
  padding-top: 15px;
}

.profile {
  display: inline;
  float: right;
  height: 65px;
  width: 65px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f9f9f9;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #454545;
}
