.logo {
  display: inline;
  position: absolute;
  height: 65px;
  width: 55px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e90f0f;
  width: 50%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #454545;
}

.profilePic {
  position: absolute;
  height: 65px;
  width: 55px;
  top: 0;
  right: 0;
}
